.board_square {
    -fx-fill: #1e90ff;
}

.board_square_lt {
    -fx-fill: #cccccc;
}

.board {
    -fx-background-image: url("Chessboard.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-border-color: #2e8b57;
    -fx-border-width: 2px;
    -fx-padding: 10;
    -fx-spacing: 8;
}

.greenPawn {
    -fx-fill: url("Black/Pawn/pawn.png")
}

.greenBishop {
    -fx-fill: url("Black/Bishop/bishop.png")
}

.greenKing {
    -fx-fill: url("Black/King/king.png")
}

.greenQueen {
    -fx-fill: url("Black/Queen/queen.png")
}

.greenCastle {
    -fx-fill: url("Black/Castle/castle.png")
}
.greenKnight {
    -fx-fill: url("Black/Knight/knight.png")
}

.goldenPawn {
    -fx-fill: url("White/Pawn/pawn.png")
}

.goldenBishop {
    -fx-fill: url("White/Bishop/bishop.png")
}

.goldenKing {
    -fx-fill: url("White/King/king.png")
}

.goldenQueen {
    -fx-fill: url("White/Queen/queen.png")
}

.goldenCastle {
    -fx-fill: url("White/Castle/castle.png")
}
.goldenKnight {
    -fx-fill: url("White/Knight/knight.png")
}
